.colorPicker {
    background: #fff1;
    border-radius: 4px;

    .header {
        display: flex;
        flex-direction: row;

        button { flex: 1 1 0; }
    }

    .content {
        padding: 16px;
    }
    
    .activeBtn {
        background-color: #fff2!important;
        border: 2px solid #fff3!important;
    }
}