.markerContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    .markerContent {
        position: relative;

        label {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            background-color: #0005;
            padding: 4px;
            border-radius: 4px;
        }
    }

    .icon {
        width: 30px;
        pointer-events: initial;

        transition: scale 0.2s;
        &:hover { scale: 1.2; }
    }
}

.markerInfo {
    min-width: 200px;
    max-width: 300px;
    text-align: left;

    h3 {
        margin-top: 0
    }

    .description {
        height: 100px;
        overflow-y: hidden;
    }
}