.path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;

    svg {
        width: 100%;
        height: 100%;

        path {
            pointer-events: painted;
            opacity: 0.7;

            &:hover { opacity: 1 }
        }
    }

    .handleContainer {
        position: absolute;
        transform: translate(-50%, -50%);

        .handle {
            pointer-events: all;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            box-shadow: 0 0 0 4px #0008 inset;
            opacity: 0.8;

            &:hover { opacity: 1 }
        }
    }

    &.editing {
        pointer-events: all;

        path { opacity: 1 }
    }
}

.pathMenu {
    width: 300px;
    display: flex;
    flex-direction: row;

    button {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        svg { width: 22px; margin-bottom: 0.5em }

        &:disabled {
            background-color: #fff0!important;
            color: #aaa;
        }
    }
}

.pathInfo {
    width: 300px;

    h3 { margin: 0 }
}