@import '/src/styles/variables.scss';

.sidebar {
    z-index: 1;
    width: $sidebar-size;
    height: 100%;
    box-shadow: 0 0 10px 10px black;
    background-color: #433;
    display: flex;
    justify-content: center;

    .title {
        height: 50px;
        display: flex;
        align-items: center;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.5em;
        letter-spacing: 0.03em;
    }
}