@import '/src/styles/variables.scss';

.sidebar {
    float: left;
    width: $sidebar-size;
    height: 100%;
    background-color: #433;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: margin-left 0.3s;
    z-index: 1;

    &.hidden { margin-left: -$sidebar-size }

    .collapse {
        z-index: 1;
        position: absolute;
        left: $sidebar-size;
        top: 1em;
        background: #433;
        border: none;
        border-radius: 0 4px 4px 0;
        color: white;
        padding: 4px;
        padding-left: 0;

        svg { width: 12px; }
    }


    .title {
        height: 50px;
        display: flex;
        align-items: center;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.5em;
        letter-spacing: 0.03em;
        user-select: none;
    }

    >label {
        width: 100%;
        text-align: left;
        font-weight: bold;
        padding: 8px;
        color: white;
        user-select: none;
    }

    .mapSettings {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    
        width: 100%;
        
        button {
            background: none;
            border: none;
            border-radius: 4px;
            padding: 0.5em 1em;
            transition: background-color 0.2s;
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            svg { width: 22px; margin-right: 1em }
            label { flex-grow: 1; text-align: left }

            &:hover { 
                background-color: #fff1;
            }
        }
    }

    .layersContainer {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .layers {
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
            
            &::-webkit-scrollbar { width: 12px; }
            &::-webkit-scrollbar-track { background: #fff1 }
            &::-webkit-scrollbar-thumb { background: #888 }

            .layerContainer {
                width: 100%;
                
                &.active {
                    margin-left: 8px;
                    border-left: 8px solid #fff1;
                }

                .layer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    
                    &>button {
                        color: white;
                        padding: 1em;
                        background: none;
                        border: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 0.2s;
        
                        &:hover { background-color: #fff1 }

                        svg, img { width: 16px; filter: brightness(10) }
                    }

                    .dragHandle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        padding: 6px;

                        svg { width: 12px;}
                    }
    
                    .layerLabel {
                        flex-grow: 1;
                        justify-content: left;
                        font-size: 12pt;
                    }
                }
            }
        }

        .addLayer {
            background: none;
            border: none;
            font-size: 14pt;
            color: white;
            padding: 0.5em;
            transition: background-color 0.2s;

            &:hover { background-color: #fff1 }

            svg { width: 16px; margin-right: 1em }
        }
    }
    .modalOverlay {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0005;
        
        animation-name: fadeIn;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease;
    
        @keyframes fadeIn {
            0% { opacity: 0 }
            100% { opacity: 1 }        
        }
    
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #433;
            padding: 2em;
            width: 75vw;
            max-height: 75vh;
            overflow-y: auto;

            &::-webkit-scrollbar { width: 12px; }
            &::-webkit-scrollbar-track { background: #fff1 }
            &::-webkit-scrollbar-thumb { background: #888 }
    
            display: flex;
            flex-direction: column;
    
            input, button {
                background: none;
                border: none;
                border-radius: 4px;
                margin: 4px;
                display: block;
                width: 100%;
                color: white;
                transition: background-color 0.2s;
    
                &:hover { background-color: #fff1 }
            }
    
            button {
                padding: 1em 2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:disabled {
                    background-color: #fff0!important;
                    color: #aaa;
                }
            }
    
            img, svg {
                width: 22px;
                margin: 4px;
            }
        }
    }
}